<a href="https://colab.research.google.com/github/aninatroya/ABSA_Tweets/blob/main/Beyond_Meat_Twitter_Historical_data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Start here

In [ ]:
! pip install tweepy --upgrade

Collecting tweepy
  Downloading https://files.pythonhosted.org/packages/bb/7c/99d51f80f3b77b107ebae2634108717362c059a41384a1810d13e2429a81/tweepy-3.9.0-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests[socks]>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy) (2020.11.8)
Requirement already satisfied, skipping upgrade: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Installing collected packages: tweepy
  Found existing installation: tweepy 3.6.0
    Uninstalling tweepy-3.6.0:
      Successfully uninstalled tweepy-3.6.0
Successfully installed tweepy-3.9.0

In [ ]:
! pip3 install snscrape

Requirement already satisfied: snscrape in /usr/local/lib/python3.6/dist-packages (0.3.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.6/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (2020.11.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (1.7.1)

### Links:
- [Historical data twitter issue](https://www.researchgate.net/post/How-to-get-twitter-historical-data)
- https://github.com/JustAnotherArchivist/snscrape
- https://developer.twitter.com/en/docs/twitter-api/v1/tweets/post-and-engage/api-reference/get-statuses-lookup

In [ ]:
! snscrape twitter-search "#BeyondMeat since:2019-01-01 until:2019-06-15" > beyondmeet_tweets.txt

In [ ]:
import pandas as pd, tweepy

In [ ]:
#Credential variables 
ACCESS_TOKEN= '...'
ACCESS_TOKEN_SECRET = '...'
CONSUMER_KEY = '...'  
CONSUMER_SECRET = '...'

auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET) 
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth)

In [ ]:
tweet_url = pd.read_csv("beyondmeet_tweets.txt", index_col= None, header = None, names = ["links"])
tweet_url.head()

                                               links
0  https://twitter.com/ChronosCap/status/11396796...
1  https://twitter.com/LenovoLegion/status/130158...
2  https://twitter.com/Celestialvegan/status/1139...
3  https://twitter.com/daswarkeinhuhn/status/1139...
4  https://twitter.com/jmartin795/status/11396675...

In [ ]:
tweet_url.shape

(5170, 1)

In [ ]:
# For every element x , select x["links"],
# then split it by ("/"), and save the last part of the split
### Definition of lambda expression
af = lambda x: x["links"].split("/")[-1]
### Application of the lmabda on the datat
tweet_url['id'] = tweet_url.apply(af, axis=1)

In [ ]:
ids = tweet_url['id'].tolist()

In [ ]:
total_count = len(ids)
chunks = (total_count - 1) // 50 + 1

In [ ]:
total_count

5170

In [ ]:
def fetch_tw(ids):
    # looking up a list of statues (Tweets) on the API
    list_of_tw_status = api.statuses_lookup(ids, tweet_mode= "extended")
    empty_data = pd.DataFrame()
    for status in list_of_tw_status:
            tweet_elem = {"tweet_id": status.id,
                     "screen_name": status.user.screen_name,
                     "tweet":status.full_text,
                     "date":status.created_at,
                     "user_location": status.user.location, 
                     "hashtags": status.entities.hashtags}
            # You can add more attributes.....
            empty_data = empty_data.append(tweet_elem, ignore_index = True)
    empty_data.to_csv("beyondmeat_tweets.csv", mode="a")

In [ ]:
for i in range(chunks):
        batch = ids[i*50:(i+1)*50]
        result = fetch_tw(batch)

In [ ]:
pd.read_csv("beyondmeat_tweets.csv")

      Unnamed: 0  ...      user_location
0            0.0  ...        Milky Way ✨
1            1.0  ...         Österreich
2            2.0  ...                NaN
3            3.0  ...    Minneapolis, MN
4            4.0  ...        Hoboken, NJ
...          ...  ...                ...
5268        15.0  ...            Seattle
5269        16.0  ...                NaN
5270        17.0  ...  Orange County, CA
5271        18.0  ...                NaN
5272        19.0  ...     Finland Kerava

[5273 rows x 6 columns]